// {{.Opcode | printf "%X"}}: {{.Instruction}} d8			8 cycles
type {{name .}} struct {
	MultiStespOp
}

func (op *{{name .}}) Tick() (done bool) {
	op.cpu.A {{.Operator}} op.cpu.NextByte()
	// Flags z 0 0 0
	if op.cpu.A == 0 {
		op.cpu.F = FlagZ
	} else {
		op.cpu.F = 0
	}
	return true
}

