// {{.Opcode | printf "%02X"}}: {{.Instruction}}		4 cycles
type {{name .}} struct {
	SingleStepOp
}

func (op *{{name .}}) Execute(c *CPU) (done bool) {
{{- if eq .Instruction "EI"}}
	c.IMEScheduled = true
	c.IMEPending = true
{{- else}}
	c.IMEScheduled = false
	c.IME = false
{{- end}}
	return true
}

