// {{.Opcode | printf "%02X"}}: LD ({{.Address}}),d8		12 cycles
type {{name .}} struct {
	MultiStepsOp
}

func (op *{{name .}}) Tick() (done bool) {
	switch op.step {
	case 0:
		op.cpu.temp8 = op.cpu.NextByte()
		op.step++
	case 1:
		op.cpu.MMU.Write(uint(op.cpu.{{.Address}}()), op.cpu.temp8)
		done = true
	}
	return
}

