// {{.Opcode | printf "%02X"}}: LD A,(HL{{.Operator}})			8 cycles
type {{name .}} struct {
	MultiStepsOp
}

func (op *{{name .}}) Tick() (done bool) {
	hl := op.cpu.HL()
	op.cpu.A = op.cpu.Memory.Read(hl)
	op.cpu.SetHL(hl {{.Operator}} 1)
	return true
}

