// {{.Opcode | printf "%X"}}: LD {{.High}}{{.Low}},d16		(12 cycles)
type ld{{.High}}{{.Low}}D16 struct {
	MultiStepsOp
}

func (op ld{{.High}}{{.Low}}D16) Tick() (done bool) {
	switch op.step {
	case 0:
		op.cpu.{{.Low}} = op.cpu.NextByte()
		op.step++
	case 1:
		op.cpu.{{.High}} = op.cpu.NextByte()
		done = true
	}
	return
}