// {{.Opcode | printf "%02X"}}: LD {{.Register}},{{.OtherRegister}}			4 cycles
type {{name .}} struct {
	SingleStepOp
}

func (op *{{name .}}) Execute(c *CPU) (done bool) {
{{- if eq .Register .OtherRegister}}
	// LD {{.Register}},{{.OtherRegister}} is a no-op.
{{- else}}
	c.{{.Register}} = c.{{.OtherRegister}}
{{- end}}
	return true
}

