// {{.Opcode | printf "%02X"}}: LD {{.High}}{{.Low}},d16		(12 cycles)
type {{name .}} struct {
	MultiStepsOp
}

func (op {{name .}}) Tick() (done bool) {
	switch op.step {
	case 0:
		op.cpu.{{.Low}} = op.cpu.NextByte()
		op.step++
	case 1:
		op.cpu.{{.High}} = op.cpu.NextByte()
		done = true
	}
	return
}

