{{- /* Common bit used by RRA and extended RR r instructions. */ -}}
	result := c.{{.Register}} >> 1
	if c.F&FlagC > 0 {
		result |= (1 << 7)
	}
	// Flags z 0 0 c
	c.F = 0x00
{{- /* [OPCODES] Non-extended RRA instruction clears flag Z. */ -}}
{{- if .Extended}}
	if result == 0 {
		c.F |= FlagZ
	}
{{- end}}
	if c.{{.Register}}&1 > 0 {
		c.F |= FlagC
	}
	c.{{.Register}} = result
