// {{.Opcode | printf "%02X"}}: RST {{.Address}}H		16 cycles
type {{name .}} struct {
	MultiStepsOp
}

func (op *{{name .}}) Tick() (done bool) {
	switch op.step {
	case 0:
		op.cpu.SP--
		op.cpu.MMU.Write(op.cpu.SP, uint8(op.cpu.PC>>8))
		op.step++
	case 1:
		op.cpu.SP--
		op.cpu.MMU.Write(op.cpu.SP, uint8(op.cpu.PC&0x00ff))
		op.step++
	case 2:
		op.cpu.PC = 0x{{.Address}}
		done = true
	}
	return
}

