// CB {{.Opcode | printf "%02X"}}: SLA	{{.Register}}			8 cycles
type {{name .}} struct {
	SingleStepOp
}

func (op *{{name .}}) Execute(c *CPU) (done bool) {
	// Flags z 0 0 c
	c.F = 0x00
	if c.{{.Register}}&(1<<7) > 0 {
		c.F |= FlagC
	}
	c.{{.Register}} <<= 1
	if c.{{.Register}} == 0 {
		c.F |= FlagZ
	}
	return true
}

